netpathfiles/netpath_fhi_dring.txt
compute_fb_skewed/
some_stats/
traces/
synthetictrafficfiles/
topoflowsfiles/
topoflows_flowsize_*/fct_results_*/
# discover_*_*_*_*/*_*_*_*_*
# discover_*_*_*_*/*_output
# !discover_*_*_*_*/*_*_*_*_summary
# !discover_*_*_*_*/log.txt
# discover_directories/discover_*_*_*_*/*_*_*_*_*
# discover_directories/discover_*_*_*_*/*_output
# !discover_directories/discover_*_*_*_*/*_*_*_*_summary
# !discover_directories/discover_*_*_*_*/log.txt
# rediscover_*_*_*_*/*_*_*_*_*
# rediscover_*_*_*_*/*_output
# !rediscover_*_*_*_*/*_*_*_*_summary
# !rediscover_*_*_*_*/log.txt
# rediscover_directories/rediscover_*_*_*_*/*_*_*_*_*
# rediscover_directories/rediscover_*_*_*_*/*_output
# !rediscover_directories/rediscover_*_*_*_*/*_*_*_*_summary
# !rediscover_directories/rediscover_*_*_*_*/log.txt
# suddiscover_dir/suddiscover_*_*_*_*/*_*_*_*_*
# suddiscover_dir/suddiscover_*_*_*_*/*_output
# !suddiscover_dir/suddiscover_*_*_*_*/*_*_*_*_summary
# !suddiscover_dir/suddiscover_*_*_*_*/log.txt
# oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_*_*_*_*
# oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_output
# !oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_*_*_*_summary
# !oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/log.txt
# oblivious_routing_discover_testopt_dir/oblivious_routing_discover_testopt_*_*_*_*/*_*_*_*_*
# oblivious_routing_discover_testopt_dir/oblivious_routing_discover_testopt_*_*_*_*/*_output
# !oblivious_routing_discover_testopt_dir/oblivious_routing_discover_testopt_*_*_*_*/*_*_*_*_summary
# !oblivious_routing_discover_testopt_dir/oblivious_routing_discover_testopt_*_*_*_*/log.txt
# c2c_baserrg_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_*_*_*_*
# c2c_baserrg_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_output
# !c2c_baserrg_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_*_*_*_summary
# !c2c_baserrg_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/log.txt
# c2c_baseleafspine_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_*_*_*_*
# c2c_baseleafspine_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_output
# !c2c_baseleafspine_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/*_*_*_*_summary
# !c2c_baseleafspine_oblivious_routing_discover_dir/oblivious_routing_discover_*_*_*_*/log.txt
# compressed_discover_logfiles/discover_*_*_*_*/*_*_*_*_*
# !compressed_discover_logfiles/discover_*_*_*_*/*_*_*_*_summary
# !compressed_discover_logfiles/discover_*_*_*_*/log.txt
# compressed_discover_logfiles/discover_*_*_*_*/*_output
*.tar.gz
trafficfiles/cluster_*/
trafficfiles/sud_robustness/
trafficfiles/sud_robustness_fix2988/
trafficfiles/c2c/
trafficfiles/c2s/
trafficfiles/prv1
trafficfiles/unv1
archive_suddiscover_*_*_cluster*_*/
rrg_ecmp_a2a.zip
# oblivious_c2s_discover_*dir/oblivious_c2s_discover_*_*_*_*/*_*_*_*_*
# oblivious_c2s_discover_*dir/oblivious_c2s_discover_*_*_*_*/*_output
# !oblivious_c2s_discover_*dir/oblivious_c2s_discover_*_*_*_*/*_*_*_*_summary
# !oblivious_c2s_discover_*dir/oblivious_c2s_discover_*_*_*_*/log.txt

# pathweightfiles/dring/su3/cluster*/pathweight*.txt
# pathweightfiles/rrg/su3/cluster*/pathweight*.txt

result_directories/*
!result_directories/**summary
!result_directories/**output
!result_directories/**log.txt
*.log

rrg_*_run
leafspine_*_run

temp_graph

experiments/rerun_sigcomm24/*.pickle
experiments/linkfailure/*.pickle
experiments/linkfailure2/*.pickle
experiments/routing/*.pickle
experiments/routing_fhi/*.pickle
experiments/routing_racke/*.pickle
experiments/scalability/*.pickle

makepathweightfiles/model.lp
makepathweightfiles/varfile
makepathweightfiles/qvarfile

pathweightfiles/
!pathweightfiles/*.tar.gz
!pathweightfiles/*/*.tar.gz
!pathweightfiles/*/*/*.tar.gz
!pathweightfiles/*/*/*/*.tar.gz
pathweightfiles/*/*tmp/

flowfiles/
!flowfiles/*.tar.gz
!flowfiles/node3

qvarfiles/
!qvarfiles/*.tar.gz

qivarfiles/
!qivarfiles/*.tar.gz
